APScheduler==3.10.1
azure-common==1.1.28
azure-core==1.27.1
azure-identity==1.13.0
azure-mgmt-compute==30.0.0
azure-mgmt-core==1.4.0
azure-mgmt-network==23.1.0
azure-mgmt-resource==23.0.1
azure-keyvault-secrets==4.7.0
Flask==2.3.2
flask-restx==1.1.0
python-dotenv==1.0.0
Pyrebase4==4.7.1
redis==4.5.5
flask-httpauth==4.8.0
firebase-admin==6.1.0



requests~=2.29.0
Werkzeug~=2.3.6